<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="usuarios">
      <h2 data-cy="usuariosDetailsHeading"><span jhiTranslate="astenEnsinoApp.astenEnsinoUsuarios.detail.title">Usuarios</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ usuarios.id }}</span>
        </dd>
        <dt>
          <span
            jhiTranslate="astenEnsinoApp.astenEnsinoUsuarios.email"
            [ngbTooltip]="'astenEnsinoApp.astenEnsinoUsuarios.help.email' | translate"
            >Email</span
          >
        </dt>
        <dd>
          <span>{{ usuarios.email }}</span>
        </dd>
        <dt><span jhiTranslate="astenEnsinoApp.astenEnsinoUsuarios.password">Password</span></dt>
        <dd>
          <span>{{ usuarios.password }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/astenensino/usuarios', usuarios.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
